---
import { Image } from "astro:assets";
import Navigation from "./Navigation.astro";

const SITE_URL = PROCESS_ENV.SITE_URL;
const BASE_PATH: string = MyPath("");
const HomePage = `${SITE_URL + BASE_PATH}`;
const VERRSION = Astro.generator;
const Author = `Harryitc's Blog`;
const lastCommit = getLatestCommitInfo();

import myImage from "../assets/images/cuongdichoi.jpg";
import { PROCESS_ENV } from "@configs/process-env";
import { MyPath } from "@utils/PathRelative";
import { getLatestCommitInfo } from "@utils/Git";
import SwitchTheme from "./SwitchTheme";
---

<div
  class="dark:bg-slate-900 top-0 z-40 w-full backdrop-blur flex-none transition-colors duration-500 lg:z-50 lg:border-b lg:border-slate-900/10 dark:border-slate-50/[0.06] supports-backdrop-blur:bg-white/60"
>
  <div class="max-w-8xl mx-auto">
    <div
      class="py-4 border-b border-slate-900/10 lg:px-8 lg:border-0 dark:border-slate-300/10 mx-4 lg:mx-0"
    >
      <div class="relative flex items-center">
        <a class="mr-3 flex-none overflow-hidden md:w-auto" href={HomePage}>
          <Image
            src={myImage}
            loading="eager"
            alt="Profile picture"
            decoding="async"
            class="mr-2 inline-block rounded-full object-cover w-14 h-14 shrink-0 select-none border border-base-300"
          />
          <span class="text-2xl">{Author}</span>
        </a><div class="relative" data-headlessui-state="">
          <button
            class="text-xs leading-5 font-semibold bg-slate-400/10 rounded-full py-1 px-3 flex items-center space-x-2 hover:bg-slate-400/20 dark:highlight-white/5"
            id="headlessui-menu-button-:r1:"
            type="button"
            aria-haspopup="menu"
            aria-expanded="false"
            data-headlessui-state=""
          >
            {VERRSION}<svg
              width="6"
              height="3"
              class="ml-2 overflow-visible"
              aria-hidden="true"
            >
              <path
                d="M0 0L3 3L6 0"
                fill="none"
                stroke="currentColor"
                stroke-width="1.5"
                stroke-linecap="round"
              >
              </path>
            </svg>
          </button>
        </div><a
          target="_blank"
          href=`https://github.com/harryitc/astro-blog/commit/${lastCommit.shortHash}`
          class="ml-3 text-xs leading-5 font-medium text-sky-600 dark:text-sky-400 bg-sky-400/10 rounded-full py-1 px-3 hidden xl:flex items-center hover:bg-sky-400/20"
        >
          <strong class="font-semibold">{lastCommit.time}</strong><svg
            width="2"
            height="2"
            fill="currentColor"
            aria-hidden="true"
            class="ml-2 text-sky-600 dark:text-sky-400/70"
          >
            <circle cx="1" cy="1" r="1"></circle>
          </svg><span class="ml-2">
            {lastCommit.message}
          </span><svg
            width="3"
            height="6"
            class="ml-3 overflow-visible text-sky-300 dark:text-sky-400"
            aria-hidden="true"
          >
            <path
              d="M0 0L3 3L0 6"
              fill="none"
              stroke="currentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
            </path>
          </svg>
        </a><div class="relative hidden lg:flex items-center ml-auto">
          <Navigation />
          <div
            class="flex items-center border-l border-slate-200 ml-6 pl-6 dark:border-slate-800"
          >
            <label
              class="sr-only"
              for="headlessui-listbox-button-:r5:"
              id="headlessui-label-:r4:"
              data-headlessui-state=""
            >
              Theme
            </label>
            <SwitchTheme client:only> </SwitchTheme>
            <a
              href="https://github.com/harryitc/astro-blog"
              class="ml-6 block text-slate-400 hover:text-slate-500 dark:hover:text-slate-300"
            >
              <span class="sr-only">Harryitc's Blog GitHub</span><svg
                viewBox="0 0 16 16"
                class="w-5 h-5"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"
                >
                </path>
              </svg>
            </a>
          </div>
        </div>
        <button
          type="button"
          class="ml-auto text-slate-500 w-8 h-8 -my-1 flex items-center justify-center hover:text-slate-600 lg:hidden dark:text-slate-400 dark:hover:text-slate-300"
        >
          <span class="sr-only">Search</span><svg
            width="24"
            height="24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            aria-hidden="true"
          >
            <path d="m19 19-3.5-3.5"></path><circle cx="11" cy="11" r="6">
            </circle>
          </svg>
        </button><div class="ml-2 -my-1 lg:hidden">
          <button
            type="button"
            class="text-slate-500 w-8 h-8 flex items-center justify-center hover:text-slate-600 dark:text-slate-400 dark:hover:text-slate-300"
          >
            <span class="sr-only">Navigation</span><svg
              width="24"
              height="24"
              fill="none"
              aria-hidden="true"
            >
              <path
                d="M12 6v.01M12 12v.01M12 18v.01M12 7a1 1 0 1 1 0-2 1 1 0 0 1 0 2Zm0 6a1 1 0 1 1 0-2 1 1 0 0 1 0 2Zm0 6a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z"
                stroke="currentColor"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
              </path>
            </svg>
          </button><div
            hidden=""
            style="position: fixed; top: 1px; left: 1px; width: 1px; height: 0px; padding: 0px; margin: -1px; overflow: hidden; clip: rect(0px, 0px, 0px, 0px); white-space: nowrap; border-width: 0px; display: none;"
          >
          </div>
        </div>
      </div>
    </div><div
      class="flex items-center p-4 border-b border-slate-900/10 lg:hidden dark:border-slate-50/[0.06]"
    >
      <button
        type="button"
        class="text-slate-500 hover:text-slate-600 dark:text-slate-400 dark:hover:text-slate-300"
      >
        <span class="sr-only">Navigation</span><svg width="24" height="24">
          <path
            d="M5 6h14M5 12h14M5 18h14"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
          >
          </path>
        </svg>
      </button><ol
        class="ml-4 flex text-sm leading-6 whitespace-nowrap min-w-0"
      >
        <li class="flex items-center">
          Core Concepts<svg
            width="3"
            height="6"
            aria-hidden="true"
            class="mx-3 overflow-visible text-slate-400"
          >
            <path
              d="M0 0L3 3L0 6"
              fill="none"
              stroke="currentColor"
              stroke-width="1.5"
              stroke-linecap="round"
            >
            </path>
          </svg>
        </li><li
          class="font-semibold text-slate-900 truncate dark:text-slate-200"
        >
          Dark Mode
        </li>
      </ol>
    </div>
  </div>
</div>

<!-- <header id="main-header" class="group border-b border-base-300">
  <div
    class="flex gap-2 group-[.menu-open]:flex-col md:!flex-row md:justify-between md:items-center max-w-6xl py-2 px-4 md:mx-auto"
  >
    <div class="w-full md:w-auto flex justify-between items-center">
      <a
        class="link-default link-nav flex flex-row items-center gap-2 text-xl xs:text-2xl"
        href={HomePage}
      >
        <Image
          src={myImage}
          loading="eager"
          alt="Profile picture"
          width="48"
          height="48"
          decoding="async"
          class="shrink-0 select-none rounded-md border border-base-300"
        />
        <span>Phan Ngọc Cường</span>
      </a>
      <mobile-button class="md:hidden">
        <button
          aria-expanded="false"
          aria-haspopup="menu"
          aria-label="Open main menu"
          type="button"
          class="group"
        >
          <svg
            width="1em"
            height="1em"
            class="h-6 w-6 group-aria-expanded:hidden"
            data-icon="mdi:hamburger-menu"
          >
            <symbol id="ai:mdi:hamburger-menu" viewBox="0 0 24 24">
              <path
                fill="currentColor"
                d="M3 6h18v2H3zm0 5h18v2H3zm0 5h18v2H3z"
              >
              </path>
            </symbol><use href="#ai:mdi:hamburger-menu"></use>
          </svg>
          <svg
            width="1em"
            height="1em"
            class="h-6 w-6 hidden group-aria-expanded:block"
            data-icon="mdi:close"
          >
            <symbol id="ai:mdi:close" viewBox="0 0 24 24">
              <path
                fill="currentColor"
                d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12z"
              >
              </path>
            </symbol><use href="#ai:mdi:close"></use>
          </svg>
        </button>
      </mobile-button>
    </div>

    <Navigation />
  </div>
</header> -->
<!-- <header>
  <nav>
    <Hamburger />
    <ThemeIcon />
    <Navigation />
  </nav>
</header> -->
